/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    text-align: center;
    color: white;
}

header {
    margin-bottom: 20px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #fff; /* Título en blanco */
}

p {
    font-size: 14px;
    color: #ddd; /* Texto de descripción más suave */
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    justify-content: center;
    gap: 15px; /* Espacio entre la imagen y el texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.link-img {
    width: 40px;  /* Ajusta el tamaño de la imagen */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

a {
    color: #007bff;
}

i {
    font-size: 20px;
}

.link i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}


.background-images-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: linear-gradient(to bottom, #30367A, #71AB41, #518D41, #315628, #BFDFF8);
    overflow: hidden;
}

.background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.background-images.visible {
    opacity: 1;
}

.background-images.fade {
    opacity: 1;
}


